html {height: 100%; width: 100%;}
body{ color: white; font-family: sans-serif;  }
.flexcontainer1{ float:right;
                  width: 20%;
                 height: 40vh;
                 background-color: : #2980b9;}
.flexcontainer2{ background-color: #2980b9; padding: 25px; flex-basis: 19%;}
.flexcontainer3{ background-color: #e74c3c; padding: 40px; flex-basis: 32%;}
.flexcontainer4{ background-color: #e67e22; padding: 40px; flex-basis: 34%;}
.flexcontainer5{ background-color: #95a5a6; padding: 40px; flex-basis: 34%; }
.flexcontainer6{ background-color: #e74c3c; padding: 40px; flex-basis: 63%;}
.flexcontainer7{ background-color: #f39c12; padding: 40px; flex-basis: 37%;}
.flexcontainer8{ background-color: #16a085; padding: 40px; flex-basis: 40%;}
.flexcontainer9{ background-color: #d35400; padding: 40px; flex-basis: 40%;}
