html {height: 100%; width: 100%;}
body{ color: white; font-family: sans-serif;  }
#item1{ background-color: #2ecc71; padding: 25px; flex-basis: 81%;}
#item2{ background-color: #2980b9; padding: 25px; flex-basis: 19%;}
#item3{ background-color: #e74c3c; padding: 40px; flex-basis: 32%;}
#item4{ background-color: #e67e22; padding: 40px; flex-basis: 34%;}
#item5{ background-color: #95a5a6; padding: 40px; flex-basis: 34%; }
#item6{ background-color: #e74c3c; padding: 40px; flex-basis: 63%;}
#item7{ background-color: #f39c12; padding: 40px; flex-basis: 37%;}
#item8{ background-color: #16a085; padding: 40px; flex-basis: 40%;}
#item9{ background-color: #d35400; padding: 40px; flex-basis: 40%;}
#item10{ background-color: #2c3e50; padding: 90px; flex-basis: 100%; }

.flexcontainer {

   padding: 0px;

   display: -webkit-flex; /*Setting the container to flex*/
   display: flex;

   -webkit-flex-direction: row; /*Items inside the container into a row*/
   flex-direction: row;

   -webkit-align-items: center;  /*Center everything up */
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;

 }
